#skill {
    width: 90%;
    margin: auto;
}

#skillDiv {
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
    gap: 30px;
    margin-top: 50px;
}

.skill_in_div {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 10px;
}

.logo {
    width: 50%;
    height: 150px;
    display: block;
    margin: auto;
    /* box-shadow: #698474 0px 0px 0px 3px, #889E81 0px 0px 0px 6px, #BAC7A7 0px 0px 0px 9px, #CCD6A6 0px 0px 0px 12px, #E5E4CC 0px 0px 0px 15px; */
}

/* .logo:hover {
    box-shadow: #1e5a68 0px 0px 0px 9px;
} */

.skillH3 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: underline;
}

/* .skillH3:hover {
    color: #FEF5ED;
} */

@media screen and (max-width:1180px) and (min-width:760px) {


    #skillDiv {
        grid-template-columns: repeat(3, 1fr);
        gap: 50px 10px;
    }

    .logo {
        width: 65%;
    }
}

@media screen and (max-width:759px) and (min-width:200px) {

    #skillDiv {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 35px;
    }

    .logo {
        width: 75%;
        height: 125px;
    }
}