#contact_mainDiv {
    /* border: 1px solid black; */
    background-color: #889E81;
    width: 90%;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
}

#contact_leftDiv {
    margin-top: 30px;
    /* border: 1px solid red; */
    width: 40%;
}

#contact_rightDiv {
    margin-top: 30px;
    /* border: 1px solid red; */
    width: 30%;
   margin-left: 50px;
}

#contact_head {
    font-size: 18px;
    color: #DAE2B6;
    margin-bottom: 5px;
}
#contact_head1 {
    font-size: 18px;
    color: #4C3575;
    margin-bottom: 5px;
}

.input {
    width: 80%;
    border-radius: 0px;
    background-color: #FEF5ED;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
.input1{
    width: 80%;
    padding-top: 20px;
    padding-bottom:150px;
    border-radius: 0px;
    background-color: #FEF5ED;
    border-radius: 20px;
    padding-left:10px;
}
.line{
    height: 2px;
    width: 60%;
    border:2px solid #FEF5ED ;
    margin-top: 20px;
    margin-bottom: 20px;
}

#btn{
    padding: 10px 40px 10px 40px;
    background-color: #FEF5ED;
    margin-top: 20px;
    border-radius: 10px;
    color: #283225;
}
#btn:hover{
    background-color: rgb(216, 212, 208);

}
@media screen and (max-width:1180px) and (min-width:760px) {
    #contact_mainDiv {
        height: 550px;
    }
    .input {
        width: 90%;
    }
    .input1{
        width: 90%;
        padding-bottom:130px;
    }
}

@media screen and (max-width:759px) and (min-width:200px) {
    #contact_mainDiv {
        width: 90%;
        height: 850px;
        display: block;
    }
    
    #contact_leftDiv {
        width: 100%;
        margin-left: 35px;
    }
    
    #contact_rightDiv {
        margin-top: 30px;
        width: 100%;
    }
    
    #contact_head {
        font-size: 18px;
        color: #DAE2B6;
        margin-bottom: 5px;
    }
    #contact_head:nth-child(1){
        padding-top: 20px;
    }
    #contact_head1 {
        font-size: 18px;
        color: #4C3575;
        margin-bottom: 5px;
    }
    
    .input {
        width: 80%;
        border-radius: 0px;
        background-color: #FEF5ED;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: 10px;
    }
    .input1{
        width: 80%;
        padding-top: 20px;
        padding-bottom:150px;
        border-radius: 0px;
        background-color: #FEF5ED;
        border-radius: 20px;
        padding-left:10px;
    }
    .line{
        height: 2px;
        width: 70%;
        border:2px solid #FEF5ED ;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}